@import "tailwindcss";

html{
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #0a192f;
    color: #ccd6f6;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}

@layer utilities {
    .gradient {
        background: linear-gradient(-45deg, #302b63, #00bf8f, #1cd8d2);
    }
}